# Output of the go coverage tool.
*.out

# Any go workspace files a user may have created.
go.work
go.work.sum

# Contributoor
config.yaml
dist

.vscode

# Test binaries
*.test

# Test binaries
*.test
*.exe
